SQL_SERVER=fleetserver2.database.windows.net
SQL_DATABASE=fleettelemetrydb
SQL_USER=fleetadmin
SQL_PASSWORD=CHANGE_ME_SQL_PASSWORD
SQL_DRIVER={ODBC Driver 17 for SQL Server}

BLOB_CONNECTION_STRING=DefaultEndpointsProtocol=https;AccountName=CHANGE_ME_ACCOUNT;AccountKey=CHANGE_ME_ACCOUNT_KEY;EndpointSuffix=core.windows.net
BLOB_CONTAINER_NAME=raw-telemetry
BLOB_FILE_NAME=telemetry_data.csv
